* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font: 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: #222;
}

header, section, footer {
  float: left;
  width: 100%;
  clear: both;
}

a {
  text-decoration: none;
  color: #c00;
}

strong {
  font-weight: 900;
}

/* Header */

header {
  padding: 2em 0 0;
  overflow: hidden;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 0 50% 50% 0;
  float: left;
}

.social {
  float: left;;
  margin-top: 25px;
  margin-left: 2em;
}

.social img {
  width: 28px;
  margin: 10px 10px 0 0;
  opacity: .5;
  vertical-align: middle;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.social img:hover {
  opacity: 1;
}

@media (min-width: 768px){
  header {
    float: left;
  }
  .avatar {
    /*width: 210px;
    height: 210px;*/
  }
  .intro, .contact {
    font-size: 1.8em;
  }
  .social {
    margin-top: 15px;
  }
  .social img {
    width: 48px;
  }
}

/* Intro */

.intro, .contact {
  padding: 1.5em;
}

.intro p {
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: -.03em;
  margin: 0;
}

/* Links */

.contact ul {
  padding-left: 0;
}
.contact li {
  line-height: 1.5em;
  list-style-position: inside;
}

/* Footer */

footer {
  padding: 1em 1.5em;
  text-align: center;
  font-size: .8em;
  color: #aaa;
}
