* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Merriweather', serif;/**/
  font-size: 18px;
  padding: 1.5em .5em;
  color: #555;
  max-width: 960px;
  margin: 0 auto;
  background: #F9F5EC;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  word-wrap: normal;
}

h1, .fin {
  color: #E3C9AB;
  font-family: 'Libre Baskerville', serif;/**/
}

h1 {
  font-style: italic;
  font-weight: normal;
  letter-spacing: -.08em;
}

a  {
  color: #c00;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

p + p {
  text-indent: 0;
}

footer {
  font-size: 14px;
}

.fin {
  font-size: 36px;
}

@media (min-width: 570px){
  html, body {
    font-size: 24px;
  }
  footer {
    font-size: 16px;
  }
}

@media (min-width: 768px){
  html, body {
    font-size: 36px;
  }
  footer {
    font-size: 18px;
  }
}
