body {
  background: #fff;
  color: #444;
  font-family: "adelle-sans",/**/ "franklin-gothic-urw", sans-serif;
}

a {
  text-decoration: none;
  color: #2A5DB0;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
}

.main {
  padding: 20px;
}

.avatar {
  border-radius: 50%;
}
