* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f9f9f9;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: .75rem;
  font-weight: bold;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: #2A5DB0; // Gmail: #2A5DB0, Google: #2200CC
}

ul {
  padding-left: 20px;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ddd;
}

img {
  border-radius: 3px;
  max-width: 100%;
}

.avatar {
  border-radius: 50%;
  vertical-align: middle;
}

p code {
  background: #eee;
  border-radius: 3px;
  padding: 3px 5px;
}

pre {
  background: #eee;
  border-radius: 3px;
  padding: 10px 15px;
}

pre,
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

kbd {
  background: #555;
  color: #fff;
  border-radius: 3px;
  padding: 3px 5px;
  border: 1px solid #222;
  font-size: .9em;
  white-space: nowrap;
  box-shadow: inset 0 1px 0 rgba(#fff, .1), 0 1px 3px rgba(#000, .1);
  text-shadow: 0 -1px 0 #000;
  vertical-align: top;
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-teaser {
  font-size: .8em;
  line-height: 1.1;
  background: #FFF7EC;
  border: 1px solid #ECE5D4;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;

  .book-cover {
    float: right;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: 5px;
  }
}

h2 .fa,
h3 .fa {
  vertical-align: middle;
  font-size: 1rem;
  margin-left: .25rem;
}

.page-content,
.post-content {
  line-height: 1.8em;
}
