.article-coloured a {
  display: block;
  color: #fff;
  padding: 2rem .5rem .5rem;
  border-radius: 3px;
  margin-bottom: 5px;

  font-size: 1.25rem;
  line-height: 1.25rem;

  .post-meta {
    opacity: .5;
    display: block;
    font-size: 1rem;
  }
}
