footer {
  text-align: center;
  color: #888;
  font-size: .8em;

  .wrap {
    padding-bottom: 3rem;
  }

  .copyright {
    margin-top: 0;
  }

  .social-links {
    padding: 0;
  }

  .social-links li {
    list-style: none;
    display: inline-block;
    margin-right: .75rem;

    &:last-child {
      margin-right: 0;
    }

    .fa {
      font-size: 28px;
      vertical-align: middle;
    }
  }
}
