footer {
  text-align: center;
  color: #888;
  margin: 2rem 0 3rem;
  font-size: .8rem;

  h5 {
    text-transform: uppercase;
    font-size: .55rem;
    color: #444;
  }

  .wrap {
    padding-bottom: 3rem;
  }

  .copyright {
    margin-top: 0;
  }

  .social-links {
    padding: 0;
  }

  h6 {
    text-transform: uppercase;
  }

  .social-links li {
    list-style: none;
    display: inline-block;
    margin-right: .75rem;

    &:last-child {
      margin-right: 0;
    }

    .fa {
      font-size: 28px;
      vertical-align: middle;
    }
  }
}
