header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.site-title {
  position: relative;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0;
  margin-top: -4px;
  font-size: 2rem;
  font-weight: 700;

  .coby {
    top: 0;
    left: 0;
    position: absolute;
  }

  .ism {
    text-shadow:
      -2px 0 rgba(#08f, .5),
      2px 0 rgba(#f00, .5);
    opacity: 0.5;
  }
}

nav {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
}

@media (max-width: 470px){
  header {
    flex-direction: column;
  }

  nav:first-of-type {
    margin: 10px 0;
  }
}

header {
  margin-bottom: 2rem;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: .75rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .fa {
    font-size: 1.2rem;
    vertical-align: middle;
  }
}

.icon-twitter {
  color: #55ACEE;
}

.icon-github {
  color: #333;
}

.icon-instagram {
  color: #3f729b;
}

.icon-rss {
  color: orange;
}
