@media (min-width: 32em){
  html {
    font-size: 18px;
  }
}

@media (min-width: 48em){
  html {
    font-size: 21px;
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem;
}

.main {
  clear: both;

  & > h1:first-child,
  & > h2:first-child,
  & > h3:first-child,
  & > p:first-child {
    margin-top: 0;
  }

  p,
  li {
    line-height: 1.8em;
  }
}
