#instafeed {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;

  // background: #eee;
  border-radius: 5px;
  // padding: 10px;
  margin-bottom: .5rem;

  a {
    margin-right: 10px;
    line-height: 1px;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 150px;
    border: 1px solid rgba(#000, .2);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(#000, .1);
  }

  a:hover img {
    border-color: #0bf;
    box-shadow: 0 0 3px rgba(#0bf, .2);
  }
}
