<footer class="site-footer">
  <div class="wrap">
    <p class="copyright">Copyright © {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}" id="footer-home-link">Coby&nbsp;Chapple</a>. All&nbsp;rights&nbsp;reserved.</p>

    <h6>Let’s hang out</h6>
    <ul class="social-links">
      <li>
        <a href="https://twitter.com/{{ site.author.handle }}" target="_blank"  id="footer-twitter"><i class="fa fa-twitter icon-twitter" title="@{{ site.author.handle }} on Twitter"></i></a>
      </li>
      <li>
        <a href="https://github.com/{{ site.author.handle }}" target="_blank" id="footer-github"><i class="fa fa-github icon-github" title="@{{ site.author.handle }} on GitHub"></i></a>
      </li>
      <li>
        <a href="https://instagram.com/{{ site.author.handle }}" target="_blank" id="footer-instagram"><i class="fa fa-instagram icon-instagram" title="@{{ site.author.handle }} on Instagram"></i></a>
      </li>
      <li>
        <a href="http://feeds.feedburner.com/cobyism" target="_blank" title="Subscribe via RSS, if you’re into that kind of thing." id="rss-link"><i class="fa fa-rss-square icon-rss"></i></a>
      </li>
    </ul>
  </div>
</footer>
