<footer>
  <div class="gridism">
    <div class="whole">
      <hr />
      <div class="content">
        <h3>About</h3>
        <p>Coby Chapple is an interface designer, web developer, and rocket surgeon at <a href="https://github.com/" title="The most awesome company in the world">GitHub</a>. You can follow him <a href="http://twitter.com/cobyism">on Twitter</a> and <a href="https://github.com/cobyism">on GitHub</a>. He also checks <a href="mailto:coby@cobychapple.com" title="Send Coby an email">his email</a>.</p>
        <hr />
        <p class="copyright">© Copyright 2012 — All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
