<header>
  <div class="container">
    <a class="identity" href="{{ site.baseurl }}">
      <img class="avatar" src="https://secure.gravatar.com/avatar/ee5bae7fa46b3195869c285ecbb4619e?s=420" />
      <h1 class="name">coby<span class="ism">ism</span></h1>
    </a>
    <nav>
      <ul class="primary-navigation">
        <li><a href="">Blog</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Talks</a></li>
      </ul>
      <ul class="elsewhere">
        <li>
          <a href="https://twitter.com/cobyism" title="Twitter">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/cobyism" title="GitHub">
            <i class="icon-github"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/cobyism" title="Instagram">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li>
          <a href="mailto:coby@github.com" title="Email">
            <i class="icon-envelope"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
