<header>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1><a href="{{ site.baseurl }}">cobyism</a></h1>
    </div>
    <nav class="unit two-thirds align-right center-on-mobiles">
      <ul class="contact">
        <li><a href="https://github.com/cobyism"><img src="{{ site.url }}/img/splodge-github.png" width="64px" height="64px"></img></a></li>
        <li><a href="https://twitter.com/cobyism"><img src="{{ site.url }}/img/splodge-twitter.png" width="64px" height="64px"></img></a></li>
        <li><a href="mailto:coby@github.com"><img src="{{ site.url }}/img/splodge-email.png" width="64px" height="64px"></img></a></li>
      </ul>
    </nav>
  </div>
</header>
