<header class="animated fadeInDown">
  <div class="grid">
    <div class="unit half center-on-mobiles">
      <h1>
        <a href="{{ site.baseurl }}">
          <div class="avatar">
            <img src="https://secure.gravatar.com/avatar/ee5bae7fa46b3195869c285ecbb4619e?s=420" />
          </div>
          <div class="id">
            <span class="name">Coby Chapple</span>
            <span class="handle">@cobyism</span>
          </div>
        </a>
      </h1>
    </div>
    <nav class="unit half align-right center-on-mobiles">
      <ul class="contact">
        <li>
          <a href="https://twitter.com/cobyism">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/cobyism">
            <i class="icon-github"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/cobyism">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li>
          <a href="mailto:coby@github.com">
            <i class="icon-envelope"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
