{% if page.title != "Thanks!" %}
<form class="newsletter-form" accept-charset="UTF-8" action="https://formkeep.com/f/54e1dccee5cf" method="POST">
  <div class="newsletter-form-heading">Join&nbsp;my&nbsp;newsletter</div>
  <p>Get updates delivered to your inbox for free.</p>
  <input type="hidden" name="utf8" value="✓">
  <input type="text" name="firstname" placeholder="Your first name…">
  <input type="email" name="email" placeholder="Your email address…">
  <button type="submit">Subscribe</button>
  <div><small>No spam, <em>ever</em>. Unsubscribe anytime.</small></div>
</form>
{% endif %}
