<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class='no-js' lang='en'> <![endif] -->
<head>
  <meta charset="UTF-8">
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width,initial-scale=1' name='viewport' />

  <title>{% if page.title %}{{ page.title }} • {% endif %}coby(ism)</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900|Alegreya+SC:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.url }}/css/gridism.css">
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">
</head>
<body class="wrap">
