---
layout: main
---

<header>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1><a href="{{ site.baseurl }}">cobyism</a></h1>
    </div>
    <nav class="unit two-thirds align-right center-on-mobiles">
      <ul class="contact">
        <li><a href="https://github.com/cobyism">GitHub</a></li>
        <li><a href="https://twitter.com/cobyism">Twitter</a></li>
        <li><a href="mailto:coby@github.com">Email</a></li>
      </ul>
    </nav>
  </div>
</header>

{{ content }}

<footer>
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p>My site is powered by <a href="http://pages.github.com/">GitHub Pages</a>, and its&nbsp;design&nbsp;is&nbsp;<a href="https://github.com/cobyism/cobyism.github.io">open&nbsp;source</a>.</p>
    </div>
  </div>
</footer>
