<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="site-container">

    {% include header.html %}

    <div class="main" role="main">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}public/script/turbolinks.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}public/script/instafeed.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}public/script/main.js"></script>

  {% include analytics.html %}
</body>
</html>
