---
layout: main
is_post: true
---

<article class="post">
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <span class="post-date">{{ page.date | date: '%B %e, %Y' }}</span>
      ·
      {% assign readtime = content | strip_html | number_of_words | append: '.0' | divided_by:200 %}
      <span class="post-read-time"><span class="js-read-time">{{ readtime }}</span> min read</span>
    </div>
  </div>
  <div class="post-content">
    {{ content }}
  </div>

  {% if page.previous.url %}
    <div class="post-read-next">
      <p>
        <strong>Read this next:</strong>
        <a class="prev" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
      </p>
    </div>
  {% endif %}

  <div class="post-author-info">
    <img src="{{ site.baseurl }}public/avatar.png" alt="Coby Chapple (@cobyism)" width="64px" class="avatar">
    <div class="text">
      <h4>About Coby Chapple</h4>
      <p class="bio">Coby is a designer and manager at <a href="https://github.com/">GitHub</a>, and recently self-published the <a href="http://cobyism.com/remotejobseeker/">Remote Jobseeker’s Handbook</a>. He&nbsp;also <a href="{{ site.baseurl }}blog/">writes</a> and <a href="{{ site.baseurl }}speaking/">speaks</a> about product&nbsp;design, development, open&nbsp;source, and working&nbsp;remotely.</p>
      <p><a href="{{ site.baseurl }}about/">Read more &raquo;</a></p>
    </div>
  </div>
</article>

{% include newsletter_signup.html %}
