{% include top.html %}
{% include header.html %}

<div id="main">
  <div class="gridism">
    <article class="whole">
      <div class="content">
        <header class="center">
          <p class="date">{{ page.date | date_to_long_string }}</p>
          <h1>{{ page.title }}</h1>
          <p class="author">by Coby Chapple</p>
        </header>
        {{ content }}
        <div class="center">
          <a href="{{ site.url }}" title="Home">« More Articles</a>
        </div>
      </div>
    </article>
  </div>
</div>

{% include footer.html %}
{% include bottom.html %}
